.chat-content {
  height: 450px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.chat-content li {
  margin-top: 10px;
}
.text-small {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
}
.chat-box {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  float: left;
}
.mine {
  float: right;
}

.chat-room .chat-input {
  display: flex;
  flex-direction: row;

  .chat-message {
    width: 85%;
  }

  .chat-send {
    width: 15%;
    margin: 0;
  }
}
