.chat.container {
  margin-top: 5%;
}

.chat-content {
  height: 450px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: tan;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

.text-small {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
}
.chat-box {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  float: left;
}
.mine {
  float: right;
  background-color: #f1aa59;
  color: #fff;
}

.chat-room .chat-input {
  display: flex;
  flex-direction: row;

  .chat-message {
    width: 85%;
  }

  .chat-send {
    width: 15%;
    align-self: flex-start;
    margin: 0;
    i {
      font-size: 20px;
    }
  }
}

.chat-list {
  li {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
      color: dodgerblue;
    }

    &.on {
      opacity: 1;
      color: dodgerblue;
    }
  }
}

.chat {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    width: 100%;
    text-align: center;
  }

  .chat-room {
    width: 70%;
    display: flex;
    flex-direction: column;

    .user-name {
      width: 100%;
      height: 50px;
      padding-left: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
    }

    li {
      display: block;
      width: 100%;
      padding: 10px 10px;
      cursor: pointer;
    }
  }
}

.no-chat-room {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
