footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  address {
    color: #fff;
    font-style: italic;
    margin: 0;
  }

  .fa-github {
    cursor: pointer;
    color: #fff;
  }

  small {
    color: #fff;
  }
}

@media screen and (max-width: 780px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  footer * {
    font-size: 10px;
  }
}
