$main-color: #8977ad;

header {
  position: fixed;
  z-index: 500;
  top: 0;
  display: flex;
  // background-color: #fff;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  // align-items: center;
  border-bottom: 1px solid #eee;

  span {
    cursor: pointer;
    color: #eee;
  }

  .gnb {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 50%;

    li {
      display: inline-block;
      height: 100%;
      transition: all 0.5s;

      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 0%;
        transition: width 0.5s;
      }

      &:hover {
        color: dodgerblue;
      }

      &:hover::after {
        width: 100%;
        background-color: dodgerblue;
      }
    }
  }

  h1 {
    margin: 0 5%;
    color: dodgerBlue;
    font-style: italic;
    font-family: "Permanant Marker", cursive;
    cursor: pointer;
  }

  li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }

  .user {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

    div {
      width: 30%;
      text-align: right;
    }

    span {
      color: #fff;
    }

    li {
      margin-left: 10px;
      padding: 5px 10px;
      background-color: transparent;
      border: 1px solid dodgerblue;
      color: #000;
      border-radius: 10px;
      opacity: 0.5;
      transition: all 0.5s;

      &:hover {
        border: 1px solid white;
        background-color: dodgerblue;
        opacity: 1;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  header {
    .css-bl9rgl-MuiTypography-root {
      text-align: center;
    }

    .gnb {
      width: 20%;

      li {
        white-space: nowrap;
      }
    }

    .user {
      li {
        display: inline-block;

        &:nth-child(1) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .login-required {
    display: none;
  }
}
