.wrap {
  position: relative;
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;

  .container {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 500px;
    }
  }
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  padding: 0 10%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 1px 1px 15px #555;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  img {
    max-width: 200px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .description {
    width: 90%;
    margin-left: 5%;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3%;
    padding: 1% 0;
  }

  .price {
    font-weight: bold;
  }
}

@media screen and (max-width: 780px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
