.chat.container {
  margin-top: 5%;
}

.chat-content {
  height: 450px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.chat-content::-webkit-scrollbar {
  width: 20px;
}
.chat-content::-webkit-scrollbar-track {
  background-color: transparent;
}
.chat-content::-webkit-scrollbar-thumb {
  background-color: tan;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.chat-content::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.text-small {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
}

.chat-box {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  float: left;
}

.mine {
  float: right;
  background-color: #f1aa59;
  color: #fff;
}

.chat-room .chat-input {
  display: flex;
  flex-direction: row;
}
.chat-room .chat-input .chat-message {
  width: 85%;
}
.chat-room .chat-input .chat-send {
  width: 15%;
  align-self: flex-start;
  margin: 0;
}
.chat-room .chat-input .chat-send i {
  font-size: 20px;
}

.chat-list li {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}
.chat-list li:hover {
  opacity: 1;
  color: dodgerblue;
}
.chat-list li.on {
  opacity: 1;
  color: dodgerblue;
}

.chat {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.chat h1 {
  width: 100%;
  text-align: center;
}
.chat .chat-room {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.chat .chat-room .user-name {
  width: 100%;
  height: 50px;
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.chat .chat-room li {
  display: block;
  width: 100%;
  padding: 10px 10px;
  cursor: pointer;
}

.no-chat-room {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#chat-oppener {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(137, 119, 173);
  position: fixed;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#chat-oppener i {
  color: white;
  font-size: 2rem;
}
#chat-oppener:hover {
  opacity: 1;
}

.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}
.detail-product {
  width: 40%;
  opacity: 0;
  transition: all 0.5s;
}
.detail-product img {
  max-width: 100%;
}
.detail-product.fadein {
  opacity: 1;
}
.detail .title {
  font-size: 2rem;
  font-weight: bold;
  padding: 1% 0;
}
.detail .price {
  font-size: 1.5rem;
  font-style: italic;
  border-bottom: 1px solid #eee;
  padding: 1% 0;
}
.detail .desc {
  min-height: 150px;
  border-bottom: 1px solid #eee;
}
.detail .like i {
  color: crimson;
  margin-right: 10px;
}

@media screen and (max-width: 780px) {
  .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
  }
  .detail-product {
    width: 80%;
  }
  .detail-product img {
    max-width: 100%;
  }
}
header {
  position: fixed;
  z-index: 500;
  top: 0;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
  font-family: "Noto Sans KR", "Roboto", sans-serif !important;
}
header span {
  cursor: pointer;
  color: #eee;
}
header .gnb {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 50%;
}
header .gnb li {
  display: inline-block;
  height: 100%;
  transition: all 0.5s;
}
header .gnb li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  transition: width 0.5s;
}
header .gnb li:hover {
  color: dodgerblue;
}
header .gnb li:hover::after {
  width: 100%;
  background-color: dodgerblue;
}
header h1 {
  margin: 0 5%;
  color: dodgerBlue;
  font-style: italic;
  font-family: "Permanant Marker", cursive;
  cursor: pointer;
}
header li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}
header .user {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
header .user div {
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
}
header .user span {
  color: #fff;
}
header .user li {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid dodgerblue;
  color: #000;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.5s;
}
header .user li:hover {
  border: 1px solid white;
  background-color: dodgerblue;
  opacity: 1;
  color: white;
}

@media screen and (max-width: 1080px) {
  header .css-bl9rgl-MuiTypography-root {
    text-align: center;
  }
  header .gnb {
    width: 20%;
  }
  header .gnb li {
    white-space: nowrap;
  }
  header .user li {
    display: inline-block;
  }
  header .user li:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .login-required {
    display: none;
  }
}
footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
footer address {
  color: #fff;
  font-style: italic;
  margin: 0;
}
footer .fa-github {
  cursor: pointer;
  color: #fff;
}
footer small {
  color: #fff;
}

@media screen and (max-width: 780px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer * {
    font-size: 10px;
  }
}
.hero {
  background-image: linear-gradient(to right, #4286f4, #373b44);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vw;
}
.hero section {
  width: 30%;
}
.hero section h1 {
  text-align: center;
  color: #fff;
  font-size: 3vw;
  font-family: "Permanant Marker", cursive;
}
.hero section p {
  text-indent: 1vw;
  font-size: 1vw;
  color: #fff;
}

.trade {
  width: 100%;
  font-size: 2.5vw;
  font-weight: bolder;
  padding: 2.5% 10%;
}

@media screen and (max-width: 1080px) {
  .hero section {
    width: 50%;
  }
  .hero section h1 {
    font-size: 24px;
    transform: rotate(0.04deg);
  }
}
@media screen and (max-width: 780px) {
  .hero section {
    width: 80%;
  }
}
.wrap {
  position: relative;
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
}
.wrap .container {
  grid-column: 2/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .container img {
  max-width: 500px;
}

.my-post {
  margin-top: 30px;
  width: 90%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.my-post h1 {
  font-weight: bold;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  padding: 0 10%;
  cursor: pointer;
  border: 0;
}
.product .thumbnail {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.product img {
  max-width: 200px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.product .description {
  width: 90%;
  margin-left: 5%;
}
.product .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3%;
  padding: 1% 0;
}
.product .price {
  font-weight: bold;
}
.product .like i {
  color: crimson;
}

.no-upload {
  padding-top: 10%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.no-upload h1 {
  font-weight: bold;
}

@media screen and (max-width: 1080px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap .product {
    flex-direction: row;
    border-bottom: 1px solid #eee;
  }
}
@media screen and (max-width: 780px) {
  .trade {
    font-size: 24px;
  }
  .wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrap .product {
    flex-direction: row;
    border-bottom: 1px solid #eee;
  }
}
.container,
.chat {
  margin-top: 20%;
  width: 90%;
  margin: 20px auto;
}
.container h1,
.chat h1 {
  font-weight: bold;
}
.container form,
.chat form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container form label,
.chat form label {
  font-size: 18px;
  margin-bottom: 1%;
  padding-left: 2%;
}
.container form input[type=text],
.container form input[type=number],
.container form input[type=password],
.container form input[type=tel],
.chat form input[type=text],
.chat form input[type=number],
.chat form input[type=password],
.chat form input[type=tel] {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 10px 30px;
  border: 1px solid #ddd;
  outline: 0;
  margin-bottom: 3%;
  transition: all 0.3s;
  padding-left: 2%;
}
.container form input[type=text]:focus,
.container form input[type=number]:focus,
.container form input[type=password]:focus,
.container form input[type=tel]:focus,
.chat form input[type=text]:focus,
.chat form input[type=number]:focus,
.chat form input[type=password]:focus,
.chat form input[type=tel]:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid tan;
}
.container form button[type=submit],
.chat form button[type=submit] {
  padding: 10px 20px;
  margin-top: 3%;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  align-self: flex-end;
}
.container form .form-control:focus,
.chat form .form-control:focus {
  box-shadow: 0 0 5px #8977ad;
  border: 1px solid dodgerblue;
}
.container form .form-floating,
.chat form .form-floating {
  width: 100%;
  margin-top: 3%;
}
.container form .form-floating textarea,
.chat form .form-floating textarea {
  height: 300px;
}
.container small,
.chat small {
  cursor: pointer;
}

.login-failed {
  color: #f00;
  opacity: 0;
  transition: all 0.3s;
}

.fade-in {
  opacity: 1;
  transition: all 1s;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #111;
  text-decoration: none;
}

body * {
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif !important;
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

main {
  position: relative;
  margin-top: 80px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  margin: 0;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

.css-1sn4lm3-MuiTypography-root {
  font-family: "Noto Sans KR", "Roboto", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

.sub {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  min-height: 100vh;
  width: 30%;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.sub li {
  cursor: pointer;
  width: 100%;
  padding: 5% 10%;
  border: 1px solid #eee;
  color: #111;
}
.sub li:nth-child(1) {
  text-align: right;
}

.placeholder {
  width: 70%;
  background-color: transparent;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 30%;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .sub {
    width: 50%;
  }
  .placeholder {
    width: 50%;
    left: 50%;
  }
}
@media screen and (max-width: 780px) {
  .sub {
    width: 70%;
  }
  .placeholder {
    width: 30%;
    left: 70%;
  }
}
/*# sourceMappingURL=style.css.map */